<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198315157775-umfrvalfmsadk4lggjlptagrbifsatg5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198315157775-umfrvalfmsadk4lggjlptagrbifsatg5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>198315157775-uq158lfqv2a6nbfcs7u0loijvsmbokmv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALKuJQbdc9TrgvCct1ogfurrqUxRs_kjU</string>
	<key>GCM_SENDER_ID</key>
	<string>198315157775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tokzic.app</string>
	<key>PROJECT_ID</key>
	<string>tokzic-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>tokzic-mobile.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198315157775:ios:171e6885d209fe80ef767a</string>
</dict>
</plist>